@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<div>
    <header class="border-bottom">
        <div class="navbar navbar-dark bg-success-subtle shadow-sm">
            <div class="container">
                <a href="#" class="navbar-brand d-flex align-items-center">

                    <?xml version="1.0" encoding="UTF-8" ?>
                    <svg fill="#ff574A" width="48" height="48px" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg"
                        id="car-repair">
                        <path
                            d="M12.6,8.7,11.5,6.5a1.05,1.05,0,0,0-.9-.5H4.4a1.05,1.05,0,0,0-.9.5L2.4,8.7,1.16,9.852a.5.5,0,0,0-.16.367V14.5a.5.5,0,0,0,.5.5h2c.2,0,.5-.2.5-.4V14h7v.5c0,.2.2.5.4.5h2.1a.5.5,0,0,0,.5-.5V10.219a.5.5,0,0,0-.16-.367ZM4.5,7h6l1,2h-8ZM5,11.6c0,.2-.3.4-.5.4H2.4c-.2,0-.4-.3-.4-.5V10.4c.1-.3.3-.5.6-.4l2,.4c.2,0,.4.3.4.5Zm8-.1c0,.2-.2.5-.4.5H10.5c-.2,0-.5-.2-.5-.4v-.7c0-.2.2-.5.4-.5l2-.4c.3-.1.5.1.6.4ZM14,2V3a1.009,1.009,0,0,1-1.017,1H5.348A2.549,2.549,0,0,1,1,3.5H3.5v-2H1A2.549,2.549,0,0,1,5.348,1h7.635A1.009,1.009,0,0,1,14,2Z" />
                    </svg>
                    <strong class="ms-3 fs-5">
                        <span style="color: lightcyan;">M</span>
                        <span style="color: orange;">e</span>
                        <span style="color: yellow;">c</span>
                        <span style="color: green;">h</span>
                        <span style="color: lightblue;">a</span>
                        <span style="color: lightcoral;">n</span>
                        <span style="color: violet;">i</span>
                        <span style="color: brown;">c</span>
                        <span style="color: teal;"> </span>
                        <span style="color: crimson;">S</span>
                        <span style="color: red;">h</span>
                        <span style="color: limegreen;">o</span>
                        <span style="color: lightpink;">P</span>
                    </strong>
                </a>
                <nav class="nav col-12 col-lg-auto my-2 justify-content-around my-md-0 text-small">
                    <AuthorizeView>
                        <Authorized>
                            <NavLink href="customers"
                                class="main-menu-item nav-link text-white d-flex flex-column justify-content-center align-items-center text-center"
                                style="width: 120px;" Match="NavLinkMatch.All">
                                <span class="bi bi-people nav-menu" aria-hidden="true"></span> Customers
                            </NavLink>
                            <NavLink href="repair-tasks"
                                class="main-menu-item nav-link text-white d-flex flex-column justify-content-center align-items-center text-center"
                                style="width: 120px;" Match="NavLinkMatch.All">
                                <span class="bi bi-tools nav-menu" aria-hidden="true"></span> Services
                            </NavLink>
                            <NavLink href="workorders"
                                class="main-menu-item nav-link text-white d-flex flex-column justify-content-center align-items-center text-center"
                                style="width: 120px;" Match="NavLinkMatch.All">
                                <span class="bi bi-clock nav-menu" aria-hidden="true"></span> WorkOrder
                            </NavLink>
                            <NavLink href="schedules"
                                class="main-menu-item nav-link text-white d-flex flex-column justify-content-center align-items-center text-center"
                                style="width: 120px;" Match="NavLinkMatch.All">
                                <span class="bi bi-calendar4-week nav-menu" aria-hidden="true"></span> Schedules
                            </NavLink>
                        </Authorized>
                    </AuthorizeView>
                </nav>
                <div>
                    <AuthorizeView>
                        <Authorized>
                            <span class="badge text-light p-2 border rounded">
                                <span class="bi bi-lock me-3" aria-hidden="true" style="vertical-align:middle"></span>
                                @context.User.Identity?.Name.
                                <a href="logout"
                                    class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
                                    Logout</a>
                            </span>
                        </Authorized>
                        <NotAuthorized>
                            <a href="login"
                                class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
                                <span class="bi bi-unlock me-3" aria-hidden="true" style="vertical-align:middle"></span>
                                Login
                            </a>
                        </NotAuthorized>
                    </AuthorizeView>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="container mt-4">
            @Body
        </div>
    </main>
</div>

<script>
    window.downloadFileFromBase64 = (fileName, base64) => {
        const link = document.createElement('a');
        link.href = 'data:application/pdf;base64,' + base64;
        link.download = fileName;
        link.click();
        link.remove();
    };
</script>